# **FAZENDO ANALISES DA DATA_WAREHOUSE** #

> ANALISES OBRIGATÓRIAS PARA TODAS AS EQUIPES

**TOTAIS GERAIS EMPENHO**

In [ ]:
SELECT SUM(valor_empenho) AS valor_total_empenho
FROM data_warehouse.fato_empenho;
-----Valor total dos EMPENHOS: 119014954965.29

**TOTAIS GERAIS VALOR PAGO**

In [ ]:
SELECT SUM(valor_pago) AS valor_total_pago
FROM data_warehouse.fato_empenho;
-----Valor total que já foi pago dos EMPENHOS:58195195710,95

**TOTAIS GERAIS A PAGAR**

In [ ]:
SELECT SUM(valor_resto_a_pagar) AS valor_resto_a_pagar
FROM data_warehouse.fato_empenho; 
-----Valor total que já foi pago dos EMPENHOS:60828731139,57

Consultando a diferença no valor resto a pagar, conforme colunas abaixo:

Se calcularmos valor empenho - valor pago, vai totalizar o valor de 60828731139,57 , sendo que o resultado da coluna, Valor resto a pagar está totalizando 60819759254,34, o que era para ser o valor exatamente igual do cálculo anterior.

A diferença se dar por que existem linhas em que o valor do empenho é menor que o valor pago, gerando um líquido negativo.

No resultado de resto a pagar, como fizemos o tratamento para não incluir números negativos no tratamento da fato_empenho, esse resultado aparece divergente.
O fato de não deixarmos o valor negativo em resto a pagar, é por que o resultado total trará o valor errado, por que ele vai estar diminuindo, do valor total, o que pode levar a entender que o valor que falta a pagar seja um valor menor.

In [ ]:
---USAMOS ESSA CONSULTA PARA DESCOBRIR A DIFERENÇA---

SELECT
    ano_cadastro,
    valor_resto_a_pagar,
    valor_empenho,
    valor_pago,
    (valor_empenho - valor_pago) AS valor_diferença_total_resto_a_pagar
FROM
    data_warehouse.fato_empenho
WHERE
    valor_resto_a_pagar <> (valor_empenho - valor_pago)

UNION ALL

SELECT
    'Total' AS ano_cadastro,
    SUM(valor_resto_a_pagar) AS valor_resto_a_pagar,
    SUM(valor_empenho) AS valor_empenho,
    SUM(valor_pago) AS valor_pago,
    SUM(valor_empenho - valor_pago) AS valor_diferença_total_resto_a_pagar
FROM
    data_warehouse.fato_empenho
WHERE
    valor_resto_a_pagar <> (valor_empenho - valor_pago);
-----Valor total que já de diferença no valor resto a pagar: 8971885,23

Essa consulta irá retornar os registros em que o "valor_resto_a_pagar" é diferente da diferença entre "valor_empenho" e "valor_pago", e também incluirá uma linha adicional no final que mostra a soma total dos valores nessas colunas. A linha adicional terá "Total" como valor para a coluna "ano_cadastro".

# **ANALISES OBRIGATÓRIAS DA EQUIPE 3** #

> **Análise por Orgão:** Total Empenho, Total Pago e Total A Pagar

In [ ]:
-- Total por ano
SELECT
    ano_cadastro,
    codigo_orgao,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_orgao;

In [ ]:
-- Total por bimestre
SELECT
    ano_cadastro,
    codigo_orgao,
    FLOOR((EXTRACT(MONTH FROM dth_empenho) - 1) / 2) + 1 AS bimestre,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_orgao,
    bimestre;

In [ ]:
-- Total por mês
SELECT
    ano_cadastro,
    codigo_orgao,
    EXTRACT(MONTH FROM dth_empenho) AS mes,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_orgao,
    mes;

> **Análise por item_elemento:**  Total Empenho, Total Pago e Total A Pagar

In [ ]:
-- Total por ano
SELECT
    ano_cadastro,
    codigo_item_elemento,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_elemento;
;

In [ ]:
-- Total por bimestre
SELECT
    ano_cadastro,
    codigo_item_elemento,
    FLOOR((EXTRACT(MONTH FROM data_empenho) - 1) / 2) + 1 AS bimestre,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_elemento,
    bimestre;

In [ ]:
-- Total por mes
SELECT
    ano_cadastro,
    codigo_item_elemento,
    EXTRACT(MONTH FROM data_empenho) AS mes,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_elemento,
    mes;

> **Análise por Item Categoria:** Total Empenho, Total Pago e Total A Pagar

In [ ]:
-- Total por ano
SELECT
    ano_cadastro,
    codigo_item_categoria,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_categoria;

In [ ]:
-- Total por bimestre
SELECT
    ano_cadastro,
    codigo_item_categoria,
    FLOOR((EXTRACT(MONTH FROM data_empenho) - 1) / 2) + 1 AS bimestre,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_categoria,
    bimestre;

In [ ]:
-- Total por mes
SELECT
    ano_cadastro,
    codigo_item_categoria,
    EXTRACT(MONTH FROM data_empenho) AS mes,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_categoria,
    mes;

> **Análise por Item Grupo:** Total Empenho, Total Pago e Total A Pagar

In [ ]:
-- Total por ano
SELECT
    ano_cadastro,
    codigo_item_grupo,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_grupo;

In [ ]:
-- Total por bimestre
SELECT
    ano_cadastro,
    codigo_item_grupo,
    FLOOR((EXTRACT(MONTH FROM data_empenho) - 1) / 2) + 1 AS bimestre,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_grupo,
    bimestre;

In [ ]:
-- Total por mes
SELECT
    ano_cadastro,
    codigo_item_grupo,
    EXTRACT(MONTH FROM data_empenho) AS mes,
    SUM(valor_empenho) AS soma_valor_empenho,
    SUM(valor_pago) AS soma_valor_pago,
    SUM(valor_resto_a_pagar) AS soma_valor_a_pagar
FROM
    data_warehouse.fato_empenho
GROUP BY
    ano_cadastro,
    codigo_item_grupo,
    mes;

> **INSIGHTS ADICIONAIS**

> Valor empenhado, liquidado e pago por ano e mês:

**Explicação:** Esse insight permite visualizar a evolução dos valores empenhados, liquidados e pagos ao longo dos meses e anos, fornecendo uma compreensão dos padrões de gastos ao longo do tempo.

In [ ]:
SELECT
    EXTRACT(YEAR FROM data_empenho) AS ano,
    EXTRACT(MONTH FROM data_empenho) AS mes,
    SUM(CASE WHEN valor_empenho >= 0 THEN valor_empenho ELSE 0 END) AS total_empenho,
    SUM(valor_liquidado) AS total_liquidado,
    SUM(valor_pago) AS total_pago
FROM (
    SELECT id_fato_empenho, data_empenho, valor_empenho, valor_liquidado, valor_pago
    FROM data_warehouse.fato_empenho
    WHERE valor_empenho >= 0
    GROUP BY id_fato_empenho, data_empenho, valor_empenho, valor_liquidado, valor_pago
    HAVING COUNT(*) = 1
) AS f
GROUP BY EXTRACT(YEAR FROM data_empenho), EXTRACT(MONTH FROM data_empenho)
ORDER BY EXTRACT(YEAR FROM data_empenho), EXTRACT(MONTH FROM data_empenho);

> Valor empenhado, liquidado e pago por item grupo e categoria em um determinado período:

**Explicação:** Esse insight permite analisar os valores empenhados, liquidados e pagos agrupados por item grupo e categoria em um período específico, fornecendo informações sobre os principais grupos e categorias de despesas, tive que colocar um limitador por que a consulta fica muito lenta.

In [ ]:
SELECT
    f.codigo_item_grupo,
    g.descricao_item_grupo,
    f.codigo_item_categoria,
    c.descricao_item_categoria,
    SUM(f.valor_empenho) AS total_empenho,
    SUM(f.valor_liquidado) AS total_liquidado,
    SUM(f.valor_pago) AS total_pago
FROM (
    SELECT id_fato_empenho, codigo_item_grupo, codigo_item_categoria, valor_empenho, valor_liquidado, valor_pago
    FROM data_warehouse.fato_empenho
    WHERE valor_empenho >= 0
    GROUP BY id_fato_empenho, codigo_item_grupo, codigo_item_categoria, valor_empenho, valor_liquidado, valor_pago
    HAVING COUNT(*) = 1
) AS f
JOIN data_warehouse.dim_grupo g ON f.codigo_item_grupo = g.codigo_item_grupo
JOIN data_warehouse.dim_categoria c ON f.codigo_item_categoria = c.codigo_item_categoria
JOIN data_warehouse.fato_empenho fe ON f.id_fato_empenho = fe.id_fato_empenho
WHERE fe.data_empenho BETWEEN '2022-01-01' AND '2022-12-31' -- Período desejado
GROUP BY f.codigo_item_grupo, g.descricao_item_grupo, f.codigo_item_categoria, c.descricao_item_categoria
LIMIT 2;

> Valor empenhado, liquidado e pago por item elemento em um determinado período:

**Explicação:** Esse insight permite analisar os valores empenhados, liquidados e pagos para cada item elemento específico em um período selecionado, ajudando a identificar os principais itens de despesa.

In [ ]:
SELECT
    f.codigo_item_elemento,
    e.descricao_item_elemento,
    SUM(f.valor_empenho) AS total_empenho,
    SUM(f.valor_liquidado) AS total_liquidado,
    SUM(f.valor_pago) AS total_pago
FROM (
    SELECT id_fato_empenho, codigo_item_elemento, valor_empenho, valor_liquidado, valor_pago
    FROM data_warehouse.fato_empenho
    WHERE valor_empenho >= 0
    GROUP BY id_fato_empenho, codigo_item_elemento, valor_empenho, valor_liquidado, valor_pago
    HAVING COUNT(*) = 1
) AS f
JOIN data_warehouse.dim_elemento e ON f.codigo_item_elemento = e.codigo_item_elemento
JOIN data_warehouse.fato_empenho fe ON f.id_fato_empenho = fe.id_fato_empenho
WHERE fe.data_empenho BETWEEN '2022-01-01' AND '2022-12-31' -- Período desejado
GROUP BY f.codigo_item_elemento, e.descricao_item_elemento;

> Um **insight interessante e diferente** relacionado à tabela fato_empenho é a análise da taxa de valores que falta pagar em relação ao valor empenhado, agrupada por órgão e ano. Isso pode fornecer informações sobre a eficiência na execução orçamentária de cada órgão em diferentes anos.

In [ ]:
SELECT
    f.codigo_orgao,
    o.nome_orgao,
    EXTRACT(YEAR FROM f.data_empenho) AS ano,
    COUNT(CASE WHEN f.valor_empenho - f.valor_pago > 0 THEN 1 END) AS empenhos_com_resto_pagar,
    COUNT(*) AS total_empenhos,
    CONCAT(ROUND(COUNT(CASE WHEN f.valor_empenho - f.valor_pago > 0 THEN 1 END) * 100.0 / COUNT(*), 2), '%') AS taxa_resto_a_pagar
FROM (
    SELECT
        codigo_orgao,
        data_empenho,
        EXTRACT(YEAR FROM data_empenho) AS ano,
        SUM(valor_empenho - valor_pago) AS soma_valor_a_pagar_total
    FROM (
        SELECT id_fato_empenho, codigo_orgao, data_empenho, valor_empenho, valor_pago
        FROM data_warehouse.fato_empenho
        WHERE valor_empenho >= 0
        GROUP BY id_fato_empenho, codigo_orgao, data_empenho, valor_empenho, valor_pago
        HAVING COUNT(*) = 1
    ) AS subquery
    GROUP BY codigo_orgao, data_empenho
) AS subquery
JOIN data_warehouse.dim_orgao o ON subquery.codigo_orgao = o.codigo_orgao
JOIN data_warehouse.fato_empenho f ON subquery.codigo_orgao = f.codigo_orgao AND subquery.data_empenho = f.data_empenho
GROUP BY f.codigo_orgao, o.nome_orgao, EXTRACT(YEAR FROM f.data_empenho);