# **ANALISE DE NULOS**

**Utilizando a Consulta Dinâmica para verificar a quantidade de NULOS em cada coluna.**

In [ ]:
DO
$$
DECLARE
    coluna record;
    consulta_sql text;
    resultado integer;
BEGIN
    FOR coluna IN (
        SELECT column_name
        FROM information_schema.columns
        WHERE table_name = 'execucao_financeira_despesa'
    )
    LOOP
        consulta_sql := 'SELECT COUNT(*) AS ' || coluna.column_name || '_nulos FROM execucao_financeira_despesa WHERE ' || coluna.column_name || ' IS NULL';
        EXECUTE consulta_sql INTO resultado;
        RAISE NOTICE 'Coluna %: % nulos', coluna.column_name, resultado;
    END LOOP;
END;
$$

> Retorno na mensagem fica assim:

--NOTICE:  Coluna vlr_empenho: 0 nulos

--NOTICE:  Coluna vlr_liquidado: 2025116 nulos

--NOTICE:  Coluna valor_pago: 109765 nulos

--NOTICE:  Coluna vlr_resto_pagar: 0 nulos

--NOTICE:  Coluna dth_empenho: 0 nulos

--NOTICE:  Coluna dth_pagamento: 109765 nulos

--NOTICE:  Coluna dth_liquidacao: 2025116 nulos

--NOTICE:  Coluna dth_processamento: 0 nulos

--NOTICE:  Coluna id: 0 nulos

--NOTICE:  Coluna cod_funcao: 0 nulos

--NOTICE:  Coluna dsc_funcao: 0 nulos

--NOTICE:  Coluna cod_item: 287982 nulos

--NOTICE:  Coluna dsc_item: 287982 nulos

--NOTICE:  Coluna cod_item_elemento: 1366 nulos

--NOTICE:  Coluna dsc_item_elemento: 1366 nulos

--NOTICE:  Coluna cod_item_categoria: 0 nulos

--NOTICE:  Coluna dsc_item_categoria: 0 nulos

--NOTICE:  Coluna cod_item_grupo: 1134605 nulos

--NOTICE:  Coluna dsc_item_grupo: 1134605 nulos

--NOTICE:  Coluna dsc_modalidade_licitacao: 401656 nulos

--NOTICE:  Coluna cod_item_modalidade: 0 nulos

--NOTICE:  Coluna dsc_item_modalidade: 0 nulos

--NOTICE:  Coluna cod_programa: 0 nulos

--NOTICE:  Coluna dsc_programa: 0 nulos

--NOTICE:  Coluna cod_subfuncao: 0 nulos

--NOTICE:  Coluna dsc_subfuncao: 0 nulos

--NOTICE:  Coluna num_sic: 855132 nulos

--NOTICE:  Coluna cod_np: 109765 nulos

--NOTICE:  Coluna num_ano_np: 109765 nulos

--NOTICE:  Coluna num_ano: 0 nulos

--NOTICE:  Coluna cod_ne: 0 nulos

--NOTICE:  Coluna codigo_orgao: 0 nulos

--NOTICE:  Coluna dsc_orgao: 116 nulos

--NOTICE:  Coluna cod_credor: 0 nulos

--NOTICE:  Coluna dsc_nome_credor: 0 nulos

--NOTICE:  Coluna cod_fonte: 2775 nulos

--NOTICE:  Coluna dsc_fonte: 2775 nulos

---Query returned successfully in 42 secs 899 msec.

**OBSERVAÇÃO**

Usar consultas dinâmicas em um banco de dados pode ser útil em certas situações, mas também apresenta desafios e preocupações que devem ser considerados, principalmente relaciona a Segurança.

No caso desse projeto, por se tratar de um banco apenas para análise, a consulta dinâmica otimiza o tempo e agilidade nos resultados.

Portanto como parte do projeto, criamos também uma consulta estática para analisar a quantidade de nulos nas colunas, conforme pode ser verificado no ponto 2 dessa etapa.

Informando que a consulta dinâmica obtemos como exemplo em grupos da internet, como não vimos essa matéria no curso, não estruturamos a consulta sozinhos; Vimos a possibilidade e aplicamos.



**Contando a quantidade de valores NULOS em cada coluna, utilizando o SELECT COUNT**

Conforme informado no ponto 1, as consultas estáticas são mais seguras que as dinâmicas.
Como se trata de uma análise de um banco de dados desconhecido, estamos analisando os Nulos coluna, por coluna, para verificarmos a melhor forma de tratarmos as informações.

Aqui usamos a função COUNT(): É a função agregada que conta o número de linhas. O asterisco () indica que todas as linhas são contadas.
Usamos o AS para mudar o nome da coluna na consulta.
FROM tabela: É a tabela da qual você deseja contar as linhas.
WHERE condição: É uma cláusula opcional que especifica uma condição para filtrar as linhas antes de contar. Nesse caso estamos contando os NULOS, 
então passamos a condição IS NULL.

> Coluna num_ano------- RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE num_ano IS NULL;

> Coluna cod_ne------- RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_ne IS NULL;

> Coluna codigo_orgao------- RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE codigo_orgao IS NULL;

> Coluna dsc_orgao------- TEM 116 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_orgao IS NULL;

> Coluna cod_credor------- RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_credor IS NULL;

> Coluna dsc_nome_credor------- RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_nome_credor IS NULL;

> Coluna cod_fonte------- TEM 2775 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_fonte IS NULL;

> Coluna dsc_fonte------- TEM 2775 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_fonte IS NULL;

> Coluna cod_funcao-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_funcao IS NULL;

> Coluna dsc_funcao-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_funcao IS NULL;

> Coluna cod_item------- TEM 287982 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_item_elemento IS NULL;

> Coluna dsc_item------- TEM 287982 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_item_elemento IS NULL;

> Coluna cod_item_elemento-------TEM 1366 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_item_elemento IS NULL;

> Coluna dsc_item_elemento-------TEM 1366 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_item_elemento IS NULL;

> Coluna cod_item_categoria-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_item_categoria IS NULL;

> Coluna dsc_item_categoria-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_item_categoria IS NULL;

> Coluna cod_item_grupo------- TEM 1134605 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_item_grupo IS NULL;

> Coluna dsc_item_grupo------- TEM 1134605 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_item_grupo IS NULL;

> Coluna dsc_modalidade_licitacao------- TEM 401656 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_modalidade_licitacao IS NULL;

> Coluna cod_item_modalidade-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_item_modalidade IS NULL;

> Coluna dsc_item_modalidade-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_item_modalidade IS NULL;

> Coluna cod_programa-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_programa IS NULL;

> Coluna dsc_programa-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_programa IS NULL;

> Coluna cod_subfuncao-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_subfuncao IS NULL;

> Coluna dsc_sub_funcao-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dsc_subfuncao IS NULL;

> Coluna num_sic------- TEM 855132 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE num_sic IS NULL;

> Coluna cod_np------- TEM 109765 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE cod_np IS NULL;

> Coluna vlr_empenho-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE vlr_empenho IS NULL;

> Coluna vlr_liquidado------- TEM 2025116 VALORES NULOS - SEM VALORES NESSA COLUNA, TOTAL DE NULOS MESMA QUANTIDADE DE LINHA

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE vlr_liquidado IS NULL;

> Coluna valor_pago------- TEM 109765 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE valor_pago IS NULL;

> Coluna vlr_resto_pagar-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE vlr_resto_pagar IS NULL;

> Coluna dth_empenho-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dth_empenho IS NULL;

> Coluna dth_pagamento------- TEM 109765 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dth_pagamento IS NULL;

> Coluna dth_liquidacao------- TEM 2025116 VALORES NULOS - SEM VALORES NESSA COLUNA, TOTAL DE NULOS MESMA QUANTIDADE DE LINHA

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dth_liquidacao IS NULL;

> Coluna dth_processamento-------RESULTADO SEM VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE dth_processamento IS NULL;

> Coluna num_ano_np------- TEM 109765 VALORES NULOS

In [ ]:
SELECT COUNT(*) AS total_nulos
FROM execucao_financeira_despesa
WHERE num_ano_np IS NULL;