In [9]:
import psycopg2
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [10]:
# Configurações de conexão com o banco de dados
DB_NAME = 'v4_financeiro'
USER = 'postgres'
PASSWORD = '1234'
HOST = 'localhost'
PORT = '5432'

In [11]:
# Conectando ao banco de dados
conn = psycopg2.connect(
    dbname=DB_NAME,
    user=USER,
    password=PASSWORD,
    host=HOST,
    port=PORT
)

In [4]:
cursor = conn.cursor()

In [16]:
# Criar um cursor para executar consultas SQL
cursor = conn.cursor()

try:
    # Executar ROLLBACK para encerrar qualquer transação anterior
    conn.rollback()

    # Executar a consulta SQL para obter o valor total de empenho por categoria, incluindo a relação com a tabela de dimensão "dim_categoria"
    cursor.execute("""
        SELECT dc.descricao_item_categoria, SUM(fe.valor_empenho) AS valor_total_empenho
        FROM data_warehouse.fato_empenho fe
        JOIN data_warehouse.dim_categoria dc ON fe.codigo_item_categoria = dc.codigo_item_categoria
        GROUP BY dc.descricao_item_categoria;
    """)

    # Recuperar os resultados da consulta
    resultados = cursor.fetchall()

except Exception as e:
    # Imprimir o erro ocorrido
    print("Ocorreu um erro durante a execução da consulta:", e)

In [23]:
# Fechar a conexão com o banco de dados
cursor.close()
conn.close()

In [17]:
# Extrair as categorias e valores dos resultados
categorias = [row[0] for row in resultados]
valores = [row[1] for row in resultados]

In [ ]:
# Criar o gráfico de barras
plt.bar(categorias, valores)

In [ ]:
# Configurar o título e rótulos dos eixos
plt.title("Valor Total de Empenho por Categoria")
plt.xlabel("Categoria")
plt.ylabel("Valor Total de Empenho")

In [25]:
# Exibir o gráfico
plt.show()

Foi criado apenas um exemplo, sabemos que não está sendo feita um consulta muito efetiva, mais apenas para mostrar que é possivel plotar um gráfico usando uma query do SQL.